<h1>Your Consoles</h1>

<ul>
<% @consoles.each do |console|%>
    <li><a href="/consoles/<%= @console.id %>"></a><%=console.name%></li>
    <li><%=console.description%></li>
    <li><%=console.release_date%></li>
<% end %>
</ul>

<!–MAKE IT LIST OUT ALL CONSOLES A USER OWNS->
