<form action="/consoles" method= "POST">
<!–name of console->
<label for="name"> New Console I Own:</label>
<input type="text" name="name"></br>
<!–description of console->
<label for="name"> Description:</label>
<textarea name="description" cols="50"></textarea>
<input type="submit">
</form>